// app global css in SCSS form
@font-face {
  font-family: Convergence;
  src: url(../fonts/Convergence_Regular.10.ttf);
}

@font-face {
  font-family: Norse;
  src: url(../fonts/NorseBold-2Kge.otf);
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}

* {
  font-family: OpenSans;
}

.q-tab__label {
  font-family: Convergence;
}

ij-header {
  font-family: 'Convergence';
}

.norse {
  font-family: 'Norse';
}
